In [3]:
print("The test will start at 11:00 AM")

The test will start at 11:00 AM

In [6]:
((100.25 - 0.25 + 100) / 2 ) ** 0.5

10.0

In [9]:
((100 ** 0.5) * 75 / 5) + 0.25 - 50

100.25

In [10]:
4 * ( 6 + 5 )

44

In [11]:
4 * 6 + 5

29

In [12]:
4 + 6 * 5

34

In [13]:
type(3 + 1.5 + 4)

float

In [14]:
4 ** 0.5

2.0

In [15]:
4 ** 2

16

In [16]:
s = 'hello'
s[1]

'e'

In [28]:
s[::-1]

'olleh'

In [29]:
s[4]

'o'

In [30]:
s[-1]

'o'

In [37]:
l1 = [0]

In [38]:
l1 * 3

[0, 0, 0]

In [40]:
l2 = [1,2,[3,4,'hello']]
l2[2][2] = 'goodbye'
l2

[1, 2, [3, 4, 'goodbye']]

In [47]:
list4 = [5,3,4,6,1]
list4.sort()

In [48]:
list4

[1, 3, 4, 5, 6]

In [53]:
d = {'simple_key':'hello'}
d.get('simple_key')

'hello'

In [57]:
d = {'k1':{'k2':'hello'}}
d1 = d.get('k1')
d1.get('k2')

'hello'

In [62]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d1 = d.get('k1')
d1[0].get('nest_key')[1][0]

'hello'

In [70]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d1 = d.get('k1')
d2 = d1[2].get('k2')[1]
d2.get('tough')[2][0]

'hello'

In [71]:
d

{'k1': [1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}

In [72]:
d.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [73]:
t = (1,2,3,'s',5.6)

In [74]:
t

(1, 2, 3, 's', 5.6)

In [75]:
l1

[0]

In [76]:
list4

[1, 3, 4, 5, 6]

In [77]:
list4.append(5)

In [79]:
list4

[1, 3, 4, 5, 6, 5]

In [80]:
s = set(list4)
s

{1, 3, 4, 5, 6}

In [81]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set5 = set(list5)
set5

{1, 2, 3, 4, 11, 22, 33}

In [82]:
type(set5)

set

In [83]:
2 > 3

False

In [84]:
3 <= 2

False

In [85]:
3 == 2.0

False

In [86]:
3.0 == 3

True

In [87]:
4**0.5 != 2

False

In [89]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]
print(l_two[2]['k1'])
l_one[2][0] >= l_two[2]['k1']

4

False

In [91]:
d['k1']

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [97]:
l1 = [1,2,3,4,5]
l2 = ['a','b,','c']
l1.append(l2)
print(l1)

[1, 2, 3, 4, 5, ['a', 'b,', 'c']]

In [98]:
l1 = [1,2,3,4,5]
l2 = ['a','b,','c']
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'a', 'b,', 'c']

In [110]:
l1 = [1,4,8,6,11,20,'a']
l1.reverse()
print(l1)

['a', 20, 11, 6, 8, 4, 1]

In [111]:
l1 = [1,4,8,6,11,20]
l1.sort()
print(l1)

[1, 4, 6, 8, 11, 20]

In [113]:
mera_tuple = ((5,6),) * 7
print(mera_tuple)
print(len(mera_tuple[3:8]))

((5, 6), (5, 6), (5, 6), (5, 6), (5, 6), (5, 6), (5, 6))
4

In [117]:
t = ((5,6),) * 7
t[3:8]

((5, 6), (5, 6), (5, 6), (5, 6))

In [118]:
b = {(34,2):1,(5,6):2}
print(b[34,2])

1

In [122]:
k = {'l':1, 'm':2, 'c':3}
print(k['l','m'])

KeyError: ('l', 'm')

In [124]:
kaha = {}
print(kaha)
kaha[1] = 1
print(kaha)
kaha['1'] = 2
print(kaha)
kaha[1] += 1
print(kaha)
sum = 0

for k in kaha:
    sum += kaha[k]
    
print(sum)

{}
{1: 1}
{1: 1, '1': 2}
{1: 2, '1': 2}
4

In [137]:
box = {}
jars = {}
crates = {}
box['biscuit'] = 1
box['cake'] = 3
print(box)
jars['jam'] = 4
crates['box'] = box
print(crates)
crates['jars'] = jars
print(crates)
len(crates['box'])

{'biscuit': 1, 'cake': 3}
{'box': {'biscuit': 1, 'cake': 3}}
{'box': {'biscuit': 1, 'cake': 3}, 'jars': {'jam': 4}}

2

In [149]:
l1 = list(range(1,21,1))
sum_odd = 0
sum_even = 0

for i in range(0,len(l1)):
    if l1[i] % 2 == 0:
        sum_even += 1
    else:
        sum_odd += 1
print('Total odd numbers are: ',sum_odd)
print('Total even numbers are: ', sum_even)

Total odd numbers are:  10
Total even numbers are:  10

In [150]:
l1 = list(range(0,11))
for i in range(0,len(l1)):
    if l1[i] in [3,6]:
        continue
    else:
        print(l1[i])

0
1
2
4
5
7
8
9
10

In [153]:
l = list(range(1,101))

for i in range(0,100):
    if l[i] % 15 == 0:
        print('FizzBuzz')
    elif l[i] % 5 == 0:
        print('Buzz')
    elif l[i] % 3 == 0:
        print('Fizz')
    else:
        print(l[i])

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [193]:
# Fn = Fn-1 + Fn-2 (Fibonacci Series)
n = int(input('Enter the integer for which you want F(n) value: '))

def fibonacci(n):
    if n < 0:
        print('Kindly provide correct input!')
    elif n == 0 or n == 1:
        return 1
    elif n == 2:
        return 2
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(n))

Enter the integer for which you want F(n) value: 8
34

In [198]:
yr = int(input('Enter the value of the year: '))

if yr < 0:
    print("Positive values please... :(")
elif yr % 400 == 0:
    print(f"The Year {yr} is a leap year!")
elif yr % 100 == 0:
    print(f"The Year {yr} is not a leap year!")
elif yr % 4 == 0:
    print(f"The Year {yr} is a leap year!")
else:
    print(f"The Year {yr} is not a leap year!")

Enter the value of the year: 2020
The Year 2020 is a leap year!

In [204]:
ltr = input("Enter the alphabet: ")
if ltr.lower() in 'aeiou':
    print(f"The alphabet {ltr} is a vowel!")
elif ltr.lower() == 'y':
    print("Sometimes 'Y' is vowel and sometimes 'y' is consonant! Strange!")
else:
    print(f"The alphabest {ltr} is a consonant")

Enter the alphabet: s
The alphabest s is a consonant

In [206]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a < b:
            return b
        else:
            return a
lesser_of_two_evens(2,5)

5

In [211]:
def animal_crackers(text):
    l1 = text.split()
    if l1[0][0] == l1[1][0]:
        return True
    else:
        return False
animal_crackers('Craze Kangaroo')

False

In [214]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False
makes_twenty(12,10)

False

In [219]:
def old_macdonald(name):
    name = name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]
    print(name)
old_macdonald('harish')

HarIsh

In [217]:
'macdonald'[3].capitalize()

'D'

In [223]:
def master_yoda(text):
    l = text.split()
    l.reverse()
    l = " ".join(l)
    print(l)
master_yoda('We are ready')

ready are We

In [232]:
def almost_there(n):
    if 90 <= n <= 110 or 190 <= n <= 210:
        return True
    else:
        return False
almost_there(209)

True

In [258]:
def has_33(nums):
    for i in range(1,len(nums)):
        if nums[i-1] == nums[i] and nums[i] == 3:
            return True
    else:
        return False
has_33([3,2,3,1,4,4,3])

False

In [318]:
def paper_doll(word):
    new_word = []
    final = ''
    for i in range(0,len(word)):
        new_word.append(word[i]*3)
    for k in new_word:
        final += str(k)
    print(final)
paper_doll('Hello')

HHHeeellllllooo

In [14]:
n1 = int(input("Enter the lower value of interval: "))
n2 = int(input("Enter the higher value of interval: "))

list_arm = []

for i in range(n1, n2+1):
    sum = 0   
    length = len(str(i))
    temp = i
    
    while temp > 0:
        digit = temp % 10
        sum += digit ** length
        temp //= 10
    if i == sum:
        list_arm.append(i)
if len(list_arm) == 0:
    print(f"There are no Armstrong Numbers between {n1} and {n2}!")
else:
    print(f"Below are the Armstrong Numbers between {n1} and {n2}!")
    print(list_arm)

Enter the lower value of interval: 100
Enter the higher value of interval: 2000
Below are the Armstrong Numbers between 100 and 2000!
[153, 370, 371, 407, 1634]